
.box {
    border: 5px solid black;
    width: 100px;
}

@media screen and (max-width: 1024px) {
    .box {
        border: 10px solid green;
        background: orange;
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    .box {
        padding: 20px;
        margin: 20px;
        background: yellow;
    }
}

@media screen and (max-width: 415px) {
    .box {
        border-color: red;
        background: blue;
    }
}